html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

*:focus {
    outline: none;
}

::placeholder {
    color: #d8d8d8;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.copyright-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.copyright{
    margin-bottom: 0;
}

/*adaptive solutions----------------------------------------------------*/



@media screen and (max-width: 320px){
    .additional-menu{
        top: 100px;
        left: 0;
        width: 100%;
        background-color: black;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        flex-direction: column-reverse;
        height: inherit
    }
    .additional-menu-items{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .additional-menu-icon{
        display: none;
    }

    .search-icon{
        display: none;
    }
    .search{
        display: none;
    }
    .curtains-music-container{
        height:1000px;
    }
    .music-container{
        height: 1000px;
    }
    .curtains-art-container{
        height:1000px;
    }
    .art-container{
        height:1000px;
    }
    .fashion-container{
        height:1000px;
    }
    .copyright-container{
        bottom: -425px;
        left: 0;
        font-size: 0.8rem;
    }
    .social-container{
        bottom: -410px;

}}








