html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes ArtAnimation {

}


.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* central part */
.fashion-container{
    background-color: #d8d8d8;
    width: 100%;
    height:700px;
    position: absolute;
    top: 0;
    left: 0;
}
/* left part */
.art-container{
    background-color: #ededed;
    height: 700px;
    filter: drop-shadow(0 1px 5px rgba(0,0,0,.5));
    transition: width 1.5s ease;
}
.music-art{
    height: 600px;
    width: 50%;
}
/* right part */
.music-container{
    background-color: #dcdcdc;
    height: 700px;
    filter: drop-shadow(0 1px 5px rgba(0,0,0,.5));
    transition: width 1.5s ease;
}
.music-brace{
    height: 600px;
    width: 50%;
}

/* container which contain left and right part */
.curtains-music-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:700px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;

}
.curtains-art-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.menu-container{
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container > h2{
margin-bottom: 0;
width: 250px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: color 1s ease;
animation-delay: 1.5s;
}

.menu-container > p{
margin-top: 0;
width: 250px;
display: flex;
justify-content: center;
align-items: center;
transition: color 1s ease;
animation-delay: 1.5s;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 220px;
    list-style-type: none;
    padding-left: 15px;
    cursor: pointer;
    transition: color 4s ease;
}
.menu > li{
    transition: color 1s ease;
    animation-delay: 1.5s;
}
.menu > li > a:hover{
    opacity: 0.8;
}
.menu > li > a:active{
    opacity: 0.5;
}
.main-menu-item{
    transition: color 1s ease;
    animation-delay: 1.5s;
}

/* left menu */
.additional-menu{
    position: absolute;
    top:20px;
    left:-62%;
    height: 120px;
    width: 70%;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,.5));
    display: flex;
    background-size: auto;
    background-repeat: no-repeat;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    transition: all 1s ease;
}
.additional-menu-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    opacity: 0.8;
    width: 500px;
    height: inherit;
}

.additional-menu-items > li{
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
}


.additional-menu-icon{
    transform: scale(-1, 1);
    width: 45px;
    height: 45px;
    margin-right: 30px;
}
.search{
    position: absolute;
    right: -62%;
    top: 20px;
    background-color: white;
    height: 120px;
    width: 70%;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,.5));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 1s ease;
}
*:focus {
    outline: none;
}
.search-input{
    margin-right: 150px;
    height: 40px;
    border: none;
}

.search-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 30px;

}
/* container for social media refs*/
.social-container{
    position: absolute;
    left:0;
    bottom: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.insta,
.facebook{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}
.insta:hover{
    opacity: 0.8;
}
.facebook:hover{
   opacity: 0.8;
}
.insta:active{
    opacity: 0.5;
}
.facebook:active{
    opacity: 0.5;
}





